*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/*Utility*/
.container {
    margin: auto;
    overflow: auto;
    max-width: 1100px;
    padding: 0 20px;
}


#navbar {
    overflow: auto;
    background-color: #333;
    color: #fff;
}

#navbar h3 {
    float: left;
    padding: 20px;
}

#navbar ul {
    float: right;
}

#navbar ul li {
    float: left;
    
}

#navbar ul li a {
    display: block;
    text-align: center;
    padding: 20px 10px;
    color: #fff;
}

#navbar ul li a:hover {
    background: purple;
    color: aquamarine;
}